# data
*.xtc
*.pkl.gz

# Hydra output directories
outputs/
multirun/
logs/
storage/

# wandb outputs
wandb/
lightning_logs/

# Checkpoints and models
*.pt
*.pth
*.ckpt

#random folders
tests/
docs/

# logs
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.ipynb_checkpoints
.DS_Store
.ipynb_checkpoints
_build/

slurm-*
